.cc-container {
  float: left;
  margin-right: 30px;
}

.credit-card-form {
  padding: 15px 25px;
  border: 1px solid #777;
  border-radius: 15px;
  width: 350px;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}

.credit-card-form.is-valid {
  border-color: green;
  -moz-box-shadow:    inset 0 0 10px green;
  -webkit-box-shadow: inset 0 0 10px green;
  box-shadow:         inset 0 0 10px green;
}

.credit-card-form .type {
  position: absolute;
  right: 30px;
  bottom: 0;
  line-height: 1.5;
}

.credit-card-form .row {
  margin-left: 0;
  margin-right: 0;
}

.cc-number,
.cc-name {
  float: left;
  width: 170px;
  margin-right: 15px;
}

.cc-cvc,
.cc-expiration {
  float: left;
  width: 105px;
}

