<div class="container">

  {{outlet}}

  <div class="row">
    <div class="col-sm-12">
      <h2>Ember Credit Cards </h2>
      <h5>Credit card utility library and form elements.</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p>
      </p>
    </div>

  </div>


  <div class="row">
    <div class="col-sm-12">
      <div class="cc-container">
        {{credit-card-form zipcodeRequired=zipcodeRequired}}
        <div class="checkbox">
          <label>
            {{input type="checkbox" checked=zipcodeRequired}} require zip code.
          </label>
        </div>

      </div> 

      <dl>
        <dt>American Express</dt>
        <dd>3700 000000 00002</dd>
        <dt>Visa</dt>
        <dd>4242 4242 4242 4242</dd>
        <dt>Discover</dt>
        <dd>6011 1111 1111 1117</dd>
      </dl> 

    </div>



  </div>

</div>